<!doctype html>
<html class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>后台管理</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <link rel="stylesheet" href="/static/css/theme969.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>

        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]-->
<!--          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>-->
<!--          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>-->
        <![endif]-->
        <script>
            // 是否开启刷新记忆tab功能
            // var is_remember = false;
        </script>

    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="/index/toIndex">后台管理</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>

            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;" th:text="${username}"></a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a href="#">个人信息</a>
                        </dd>
                        <dd>
                            <a href="/logout">退出登录</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="#">前台首页</a>
                </li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav" th:each="menu : ${menuList}">
                    <li>
                        <a  th:onclick="open_page([[${menu.url}]])">
                            <i th:class="'layui-icon '+${menu.icon}" style="color: white" th:attr="lay-tips=${menu.permissionName}" ></i>
                            <cite th:text="${menu.permissionName}"></cite>
                            <th:block th:if="${menu.url =='' || menu.url == null}">
                                <i class="iconfont nav_right" style="color: white" th:unless="${#lists.isEmpty(menu.childList)}">&#xe697;</i>
                            </th:block>

                        </a>
                        <th:block th:if="${menu.url =='' || menu.url == null}">
                            <th:block th:unless="${#lists.isEmpty(menu.childList)}" th:include="this::row(${menu.childList})"></th:block>
                        </th:block>

                    </li>

                    <!-- 局部模板-->
                    <th:block th:fragment="row(permissions)">
                        <th:block th:each="m : ${permissions}">
                            <ul class="sub-menu">
                                <li>
                                    <a  th:onclick="open_page([[${m.url}]])">
                                        <i th:class="'layui-icon '+${m.icon}" style="color: white" th:attr="lay-tips=${m.permissionName}" ></i>
                                        <cite th:text="${m.permissionName}"></cite>
                                        <th:block th:if="${m.url =='' || m.url == null}">
                                            <i class="iconfont nav_right" style="color: white" th:unless="${#lists.isEmpty(menu.childList)}">&#xe697;</i>
                                        </th:block>
                                    </a>
                                    <th:block th:if="${m.url =='' || m.url == null}">
                                        <th:block th:unless="${#lists.isEmpty(menu.childList)}" th:include="this::row(${m.childList})"></th:block>
                                    </th:block>

                                </li>
                            </ul>
                        </th:block>
                    </th:block>

                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
                <div class="layui-tab-content" style="top: 0px;">
                    <div class="layui-tab-item layui-show">
                        <iframe src='' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
        <script>
            var open_page = function (url) {
                if(url == null || url == ''){
                    return;
                }else
                    $('.x-iframe').attr("src",url);
            }
        </script>
    </body>

</html>