<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
</head>
<body>
    <!--顶部-->
    <div style="height: 40px;line-height: 40px;padding-left: 30px; background-color: white">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a><cite>用户管理</cite></a>
        <a><cite>角色列表</cite></a>
    </span>
    </div>
    <!--表格-->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="addRole">新增角色</button>
        </div>
    </script>

    <table  id="roleTable" lay-filter="roleTable"></table>

    <script type="text/html" id="barDemo" >
        <a class="layui-btn layui-btn-radius layui-btn-warm layui-btn-sm" style="height: 25px;line-height: 26px" lay-event="editPermission">权限</a>
        <a class="layui-btn layui-btn-radius layui-btn-sm" style="height: 25px;line-height: 26px" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-radius layui-btn-danger layui-btn-sm" style="height: 25px;line-height: 26px" lay-event="del">删除</a>
    </script>
</body>
<script th:inline="none">//破除thymeleaf标记
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element','table','form','layer','tree'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var tree = layui.tree;
        table.render({
            elem: '#roleTable'
            ,url:'/role/roleListPage'
            ,toolbar: '#toolbarDemo'
            ,title: '角色数据表'
            ,cols: [[
                // {type: 'checkbox', fixed: 'left'},
                {field:'role_id', title:'ID',width:80, fixed: 'left', unresize: true, sort: true}
                ,{field:'role_name', title:'角色',width:150}
                ,{field:'description', title:'描述',width:300}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200}
            ]]
            ,page: true
        });
        //头工具栏事件
        table.on('toolbar(roleTable)', function(obj){
            // var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'addRole':
                    editRole(null);
                    break;
            };
        });
        function editRole(role){
            console.log(role)
            layer.open({
                title:role==null?"新增角色":"修改角色",
                type:1,
                area: ['410px', '230px'], //宽高
                content:'<div style="width: 350px;margin-top: 20px;">' +
                    '<form method="post" class="layui-form" lay-filter="roleForm">\n' +
                    '  <input type="hidden" id="roleId" name="roleId">' +
                    '  <div class="layui-form-item">\n' +
                    '    <label class="layui-form-label">角色名</label>\n' +
                    '    <div class="layui-input-block">\n' +
                    '      <input type="text" id="roleName" name="roleName" required lay-verify="required" autocomplete="off" placeholder="请输入角色名" class="layui-input">\n' +
                    '    </div>\n' +
                    '  </div>' +
                    '  <div class="layui-form-item">\n' +
                    '    <label class="layui-form-label">描述</label>\n' +
                    '    <div class="layui-input-block">\n' +
                    '      <input type="text" id="description" name="description" autocomplete="off" placeholder="请输入描述" class="layui-input" >\n' +
                    '    </div>\n' +
                    '  </div>' +
                    '  <div class="layui-form-item">\n' +
                    '    <div class="layui-input-block">\n' +
                    '      <button class="layui-btn" style="width: 90%" lay-submit lay-filter="save">'+(role==null?"立即添加":"立即修改")+'</button>\n' +
                    '    </div>\n' +
                    '  </div>' +
                    '</form>' +
                    '</div>',
                success:function(layero, index){
                    //重新渲染form
                    form.render();
                    //初始化
                    if (role == null){

                        //添加
                        //监听提交
                        form.on('submit(save)', function(data){
                            $.ajax({
                                url:'/role/save',
                                async:false,
                                type:'post',
                                dataType:'json',
                                data:{roleName:data.field.roleName,description:data.field.description},
                                success:function (d) {
                                    console.log(d);
                                    if (d.status){
                                        //刷新页面
                                        //table重载
                                        table.reload('roleTable', {
                                            page: {
                                                curr: 1 //重新从第 1 页开始
                                            }
                                            , where: {//这里传参  向后台
                                                //可传多个参数到后台...  ，分隔
                                            }
                                            ,url:'/role/roleListPage'//后台做模糊搜索接口路径
                                            , method: 'post'
                                        });
                                        layer.close(index);
                                        layer.msg(d.msg, {icon: 1});
                                    }else {
                                        layer.msg(d.msg, {icon: 2,anim: 6});
                                    }
                                },
                                error:function (data) {
                                    console.log(data);
                                    layer.msg('服务器请求失败', {icon: 2,anim: 6});
                                }
                            })
                            return false;
                        });
                    }else {
                        //修改   给文本框付初始值
                        form.val("roleForm",{
                            "roleId":role.role_id,
                            "roleName":role.role_name,
                            "description":role.description
                        })
                        //监听提交
                        form.on('submit(save)', function(data){

                            $.ajax({
                                url:'/role/upd',
                                async:false,
                                type:'post',
                                data:{roleId:data.field.roleId,roleName:data.field.roleName,description:data.field.description},
                                dataType:'json',
                                success:function (d) {
                                    if (d.status){
                                        //刷新页面
                                        //table重载
                                        table.reload('roleTable', {
                                            page: {
                                                curr: 1 //重新从第 1 页开始
                                            }
                                            , where: {//这里传参  向后台
                                                //可传多个参数到后台...  ，分隔
                                            }
                                            ,url:'/role/roleListPage'//后台做模糊搜索接口路径
                                            , method: 'post'
                                        });
                                        layer.close(index);
                                        layer.msg(d.msg, {icon: 1});
                                    }else {
                                        layer.msg(d.msg, {icon: 2,anim: 6});
                                    }
                                },
                                error:function () {
                                    layer.msg('服务器请求失败', {icon: 2,anim: 6});
                                }
                            })
                            return false;
                        });
                    }
                }
            })
        }

        //监听行工具事件
        table.on('tool(roleTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('删除该角色后与该角色绑定的用户需要重新绑定角色，确定要删除该角色吗?',{
                    btn: ['确定', '取消'],icon: 3, title:'提示' //按钮
                }, function () {
                    //TODO 去后台删除
                    $.ajax({
                        url:"/role/del",
                        type:"post",
                        data:{roleId:data.role_id},
                        success:function (d) {
                            if (d.status){
                                obj.del();
                                layer.msg(d.msg,{icon: 1});
                            }else {
                                layer.msg(d.msg,{icon: 2,anim: 6});
                            }
                        },
                        error:function () {
                            layer.msg("删除失败",{icon: 2,anim: 6});
                        }
                    })
                }, function () {
                    //取消
                });
            } else if(obj.event === 'edit'){
                editRole(data);
            }else if(obj.event === 'editPermission'){
                //修改权限
                layer.open({
                    title:"【"+data.role_name+"】权限",
                    type:1,
                    btn:["修改"],
                    area: ['510px', '550px'], //宽高
                    content:'<div id="permissionTree"></div>' +
                        '<div style="margin: 10px 10px;">' +
                        '   <button id="updPermission" class="layui-btn">保存修改</button>' +
                        '</div>',
                    success:function(layero, index){
                        $("#updPermission").click(function () {
                            layer.msg("修改")
                        });
                        //加载总权限
                        $.ajax({
                            url:'/role/findAllPermission',
                            dataType:'json',
                            success:function (d) {
                                if (d.status == 1){
                                    tree.render({
                                        elem: '#permissionTree'  //绑定元素
                                        ,id:'permissionTree'
                                        ,showCheckbox:true
                                        ,data:d.data
                                    })
                                    //获取数值
                                    $.ajax({
                                        url:'/role/findPermissionByRoleId',
                                        dataType:'json',
                                        data:{roleId:data.role_id},
                                        success:function (d) {
                                            if (d.status == 1){
                                                console.log(d.data)
                                                tree.setChecked('permissionTree', d.data);
                                            }else {
                                                layer.msg(d.msg,{icon: 2,anim: 6});
                                            }
                                        },
                                        error:function (data) {
                                            console.log(data);
                                            layer.msg('服务器请求失败', {icon: 2,anim: 6});
                                        }
                                    })
                                }else {
                                    layer.msg(d.msg,{icon: 2,anim: 6});
                                }
                            },
                            error:function (data) {
                                console.log(data);
                                layer.msg('服务器请求失败', {icon: 2,anim: 6});
                            }
                        })


                    }
                    ,
                    yes:function(index,layero) {
                        layer.msg("修改");
                    }
                })
            }
        });
    });
</script>
</html>