<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/test.css" />
    <link rel="stylesheet" href="layui/css/layui.mobile.css" />

</head>
<body>
<div style="width: 100%;height: 100%;position: fixed;">
    <div class="scrollbar-spl" style="height: 50px">
        <div class="layui-collapse"lay-filter="test" style="height: 200px">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">杜甫</h2>
                <div class="layui-colla-content">内容区域</div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">李清照</h2>
                <div class="layui-colla-content">内容区域</div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">鲁迅</h2>
                <div class="layui-colla-content">内容区域</div>
            </div>
        </div>
    </div>
</div>

<!--<div class="layui-form">-->
<!--    <div class="layui-form-item">-->
<!--        <div class="layui-inline">-->
<!--            <label class="layui-form-label">可选日期</label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input type="text" class="layui-input" id="startDate" placeholder="yyyy-MM-dd">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-inline">-->
<!--            <label class="layui-form-label">可选时间</label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input type="text" class="layui-input" id="startTime" placeholder="HH:mm:ss">-->
<!--            </div>-->
<!--            <div class="layui-form-mid layui-word-aux">-->
<!--                这里以控制在9:30-17:30为例-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
<script src="js/jquery.js"></script>

<script src="layui/layui.all.js"></script>
<script src="js/jquery.scrollbar.js"></script>
<script>

    layui.use('element', function(){
        var element = layui.element;
        console.log(element)
    });
    jQuery(document).ready(function(){
        jQuery('.scrollbar-spl').scrollbar();
    });
</script>
</html>