<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>时间轴</title>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="css/test.css" />
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.scrollbar.js"></script>
</head>
<body>
    <div class="timeBody scrollbar-inner">
        <div class="body">
            <div class="left">
                <div class="leftT">一厅</div>
                <div class="leftT">二厅</div>
                <div class="leftT">三厅</div>
                <div class="leftT">四厅</div>
                <div class="leftT">五厅</div>
            </div>
            <div class="right scrollbar-dynamic">
                <div class="rightBody">
                    <div class="rightT">一厅</div>
                    <div class="rightT">二厅</div>
                    <div class="rightT">三厅</div>
                    <div class="rightT">四厅</div>
                    <div class="rightT">五厅</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/test.js"></script>
</html>