<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>时间轴</title>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="css/test.css" />
    <link rel="stylesheet" href="css/contextMenu.css" />
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.scrollbar.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/jquery.contextMenu.min.js"></script>
</head>
<body>
    <div class="dataList">
        <div class="data" data-time="120">张三</div>
        <div class="data" data-time="180">李四</div>
        <div class="data" data-time="100">王五</div>
        <div class="data" data-time="60">赵六</div>
        <div class="data" data-time="80">田七</div>
    </div>
    <div class="timeBody scrollbar-inner">

    </div>
</body>
<script src="js/test.js"></script>
</html>