.dataList{
    width: 200px;
    height: 450px;
    background-color: #4E5465;
    float: left;
}
.data{
    width: 100%;
    height: 60px;
    background-color: #00FF00;
    margin-top: 5px;
}



.timeBody{
    width: 1530px;
    height: 900px;
    color: red;
    font-size: 14px;
    background-color: #0C0C0C;
}
/*左侧厅号*/
.body .left{
    /*border: 1px solid navy;*/
    float: left;
    width: 105px;
}
.body .leftT{
    width: 80px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    /*border: 1px solid red;*/
    margin: 10px;
    background-color: rgb(166, 219, 255);
    color: black;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.body .leftTFirst{
    margin-top: 35px;
}
/*右侧放置区*/
.body .right{
    /*border: 1px solid navy;*/
}
.body .right .rightBody .rightT{
    width: 1500px;
    height: 60px;
    /*border: 1px solid red;*/
    margin: 10px 0px;
    background-color: #4E5465;
    position: relative;
}
.body .right .rightBody .rightT .dataT{
    color: #111111;
    background-color: #00F7DE;
    z-index: 10;
}
.body .right .rightBody .rightT .dataTDisable{
    background-color: #08d1ff;
    z-index: 10;
}
.body .right .rightBody .rightTFirst{
    margin-top: 0px;
}
.body .right .rightBody .rightT .drop{
    position: relative;
    width: 500px;
    height: 100%;
    background-color: #111111;
    opacity:0.9;
    filter:alpha(opacity=40);
}
/*刻度尺*/
.body .right .rightBody .time{
    position: relative;
    height: 31px;
    width: 1500px;
    background-color: #0C0C0C;
    z-index: 12;
    border-bottom:1px solid white;
    margin-bottom: 3px;
    left: 1px;
}
.body .right .rightBody .time .line{
    height: 5px;
    width: 0px;
    border-left: 1px solid #8e8e8e;
    float: left;
    margin-left: 0.89px;
    margin-top: 26px;
}
.body .right .rightBody .time .centerLine{
    height: 10px;
    width: 0px;
    border-left: 1px solid #b0b0b0;
    float: left;
    margin-left: 0.90px;
    margin-top: 21px;
}
.body .right .rightBody .time .heightLine{
    height: 15px;
    width: 0px;
    border-left: 1px solid white;
    float: left;
    margin-left: 0.90px;
    margin-top: 16px;
    line-height: 0px;
    font-size: 14px;
}

/*时间线*/
.timeLine{
    border-left: 1px solid red;
    position: absolute;
    left: 100px;
    z-index: 11;
}
















/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}

/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }

/* scrollbar height/width & offset from container borders */

.scrollbar-inner > .scroll-content.scroll-scrolly_visible { left: -12px; margin-left: 12px; }
.scrollbar-inner > .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px; }

.scrollbar-inner > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.scrollbar-inner > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }

/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }


/*************** SIMPLE dynamic SCROLLBAR ***************/

.scrollbar-dynamic > .scroll-element,
.scrollbar-dynamic > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 12;
}

.scrollbar-dynamic > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-dynamic > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    width: 100%;
}

.scrollbar-dynamic > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-dynamic > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-dynamic > .scroll-element .scroll-element_outer,
.scrollbar-dynamic > .scroll-element .scroll-element_track,
.scrollbar-dynamic > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-dynamic > .scroll-element .scroll-element_track,
.scrollbar-dynamic > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scrollbar-dynamic > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-dynamic > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-dynamic > .scroll-element:hover .scroll-bar { background-color: #515151; }
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-bar { background-color: #111111; }

/* scrollbar height/width & offset from container borders */

.scrollbar-dynamic > .scroll-content.scroll-scrolly_visible { left: -12px; margin-left: 12px; }
.scrollbar-dynamic > .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px;}

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }

/* update scrollbar offset if both scrolls are visible */

.scrollbar-dynamic > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar-dynamic > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }





/*layer.open弹出层样式*/
.edit_class .layui-layer-title{
    background-color: #7a7a7a;
    color: white;
    border-bottom: 1px solid black;
}
.edit_class .layui-layer-content{
    background-color: #515151;
    color: white;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;

}
.edit_class .layui-layer-content .layui-input{
    background-color: black;
    height: 30px;
    border: 1px solid black;
}
.edit_class .layui-layer-content .layui-input-inline{
    width: 100px;
}
.edit_class .layui-layer-content .layui-form-label{
    padding: 5px 10px;
}