<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>500</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<link rel="stylesheet" href="/static/css/font-awesome.min.css" media="all" />

<!-- Style --> <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">

<!-- Fonts -->

<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>随机 <span>错误</span> 页面</h1>
	<div class="w3layout-agileits">
	<h2>500 </h2>
	<h3>哎呀！页面报错了</h3>
	<p>出了点问题</p>
	
	<a href="/index/toIndex"><i class="fa fa-angle-double-left" aria-hidden="true"></i>返回主页</a>
	</div>



</body>
<!-- //Body -->

</html>